.maps-container {
	margin-top: 1em;
	@include outer-container;
}

.maps-item {
	margin-bottom: em(16);

	@include media ($medium-screen-up) {
		@include span-columns(3);
		display: inline-block;

		&:nth-of-type(4n) {
			margin-right: 0;
		}
	
	}

	figure {
		height: em(320);
		margin:0;
		background: white;
		border-bottom-left-radius: $base-border-radius;
		border-bottom-right-radius: $base-border-radius;
		box-shadow: $base-box-shadow;
		overflow: hidden;
	}

	figcaption {
		padding: em(8);
		@include clearfix;
	}

	h2 {
		margin-top: 0.1em;
		font-size: 1.4em;
		width: 100%;
	}

	p.address {
		color: $medium-gray;
		font-size: 0.9em;
	}

	p.username {
		display: inline-block;
		color: transparentize(white, 0.2);
		background: $base-accent-color;
		border-radius:10px;
		padding: em(2) em(6);
		margin-bottom: em(4);
		font-weight: 700;
	}

	button.delete{
		color: $light-gray;
		background: none;
		border-radius: 50%;
		height: 2em;
		width: 1em;
		text-align: center;
		float: right;

		span {
			position: relative;
			top: -0.5em;
			right: 0;
			cursor: pointer;
		}
	}
}

.google-map {
	display:none;
	@include media ($medium-screen-up) {
		display: block;
	}
}