.maps-container {
	@include outer-container;
}

.maps-item {
	margin-bottom: em(16);
	@include media ($medium-screen-up) {
		@include span-columns(3);
		display: inline-block;

		&:nth-of-type(4n) {
			margin-right: 0;
		}
	
	}

	figure {
		height: em(280);
		margin:0;
		background: white;
		border-bottom-left-radius: $base-border-radius;
		border-bottom-right-radius: $base-border-radius;
		box-shadow: $base-box-shadow;
		overflow: hidden;
	}

	figcaption {
		padding: em(8);
	}

	h2 {
		font-size: 1.4em;
	}

	p.address {
		color: $medium-gray;
	}
}

.google-map {
	display:none;
	@include media ($medium-screen-up) {
		display: block;
	}
}